.modal-container {
    min-width: 50rem;
}

#show-more {
    margin-top: 20px;
}

.selected-sorting {
    color: darkgreen;
}

.sorting-asc:before {
    content: '\2191';
}

.sorting-desc:before {
    content: '\2193';
}